html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: $black;
  color: $white;
  font-size: $xsmall;
  line-height: 1.75rem;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
  margin-bottom: 50px;
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-weight: 600;
  line-height: 3rem;
  font-size: 2.25rem;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
}

h2 {
  color: $green;
  text-shadow: 0 0 0.5rem $green;
}

h3 {
  font-weight: 600;
  line-height: 3rem;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  color: $pink;
  text-shadow: 0 0 0.5rem $pink;
}

p {
  margin-bottom: 30px;
}

// Links
a.underline {
  padding-bottom: 10px;
  line-height: 1.625;
  text-decoration: none;

  background-image: linear-gradient(to right, $green, $green);
  background-position: 0 1.625em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a {
  color: $white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  
  :not(:last-child) {
    margin-right: 2rem;
  }
}

.button {
  position: relative;
  text-decoration: none;
  border: $green 4px solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $green, 0 0 0.5em $green;
  color: $green;
}

.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: $green;
  top: 150%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2.5em);
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 0.5em 0 $green, 0 0 2em $green;
  opacity: 0;
  transition: opacity 70ms linear;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button:hover::after,
.button:focus::after {
  opacity: 1;
}

.button:hover,
.button:focus {
  //background: $green;
  opacity: 0.8;
  color: $white;
}

//Pop ups
dialog {
  background-color: $blackClear;
  color: $white;
  border: none;
}

//Socials
ul li {
  position: relative;
  display: block;
  color: $white;
  text-align: center;
  //font-size: 1.0625rem;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: $gray;
  transition: all 300ms ease-in-out;
}

ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: $pink;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: all 300ms ease-in-out;
}

ul li:hover::before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 1.067rem $pink;
}

ul li:hover {
  color: $pink;
  box-shadow: 0 0 1.067rem $pink;
  text-shadow: 0 0 1.067rem $pink;
}

//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
      display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
      display: none;
      opacity: 0;
  }
}

.visually-hidden {
  display: none;
}

// Spacing
.container {
  padding-right: 30px;
  padding-left: 30px;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
      justify-content: space-between;
  }

  &-jc-c {
      justify-content: center;
  }

  &-ai-c {
      align-items: center;
  }
} 

// Borders
.border {
  border: 1px solid $gray;
}