// COLORS
$black: hsl(0, 0%, 8%);
$blackClear: hsla(0, 0%, 8%, 0.5);
$gray: hsl(0, 0%, 14%);
$lightGray: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 100%);
$darkPink: hsl(300, 57%, 44%);
$pink: hsl(302, 98%, 52%);
$red: hsl(7, 100%, 68%);
$orange: hsl(39, 100%, 50%);
$green: hsl(170, 96%, 60%);
$greenClear: rgba(55, 251, 218, 0.358);
$lightBlue: hsl(240, 100%, 90%);
$blue: hsl(213, 39%, 59%);
$purple: hsl(262, 89%, 64%);

// FONT SIZES
$xlarge: 5.5rem;
$large: 4.5rem;
$xmedium: 3rem;
$medium: 2.5rem;
$tablet: 2rem;
$small: 1.5rem;
$xsmall: 1.125rem;
$body: 0.9rem;
